.main-header{
    position: fixed;
    z-index: 99;
    top: 1px; 
    margin-top: -1px;
    @include transition;
    > .container{
        position: relative;
        max-width: 1344px;
    }
    .logo-wrap{
        width: 100%;
        padding-top: 44px;
        padding-bottom: 44px;
        position: relative;
        z-index: 2;
        .logo{
            width: 410px;
            @include inlineMiddle;
        }
        .nav-icon-wrap{
            @include inlineMiddle;
            margin-left: 57px;
            cursor: pointer;
            .icon, .nav-title{
                @include inlineMiddle;
            }
            .icon{
                margin-right: 10px;
                .close-icon{
                    display: none;
                }
                &.close{
                    .close-icon{
                        display: block;
                    }
                    .helm-icon{
                        display: none;
                    }
                }
            }
            &:hover{
                .helm-icon{
                    @include animation(spinAround 2s linear infinite)
                }
            }
        }
        .action-icon-wrap{
            position: absolute;
            top: 40px;
            right: 30px;
            .icon{
                width: 25px;
                @include inlineMiddle;
                margin-left: 19px;
                > img{
                    cursor: pointer;
                }
                &.language{
                    span{
                        display: none;
                    }
                }
            }
        }
    }
    @include media($mobile){
        .container{
            padding: 0 20px;
        }
        .logo-wrap{
            float: left;
            padding-top: 0px;
            padding-bottom: 35px;
            .logo{
                float: left;
                width: 207px;
                margin-top: 36px;
            }
            .nav-icon-wrap{
                float: right;
                margin-left: 0;
                margin-top: 31px;
                .icon{
                    margin-right: 0;
                }
                .nav-title{
                    display: none;
                }

            }
            .action-icon-wrap{
                display: none;
            }
        }
    }
}

.navShow {
    overflow: hidden;
    .main-header{
        height: 100vh;
        max-height: 100vh;
        overflow-y: auto;
    }
}


